@CHARSET "UTF-8";
input{ border-radius:3px; padding:2px }
#form{
	position:fixed;
	left:50px;
	bottom:100px;
	top:125px;
	width:400px;
	height: 206px;
}
#list{
	position:fixed;
	left:530px;
	top:125px;
	width:550px;
	height: auto;
}
#dragdrop{
	position:fixed;
	width:1100px;
	height: auto;
	top:100px;
	left:30px;
}
